/* :root {
  --primary-font-color: #212121;
  --primary-bg-color: #e5e5e5;
  --sec-bg-color: #f5f4fa;
  --sec-font-color: #757575;
  --accent-color: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --info-font-color: #757575;
  --footer-bg-color: #2f303a;
  --btn-bg-color: #188ce8;
  --content-list-gap: 30px;
  --icon-text-color: #afb1b8;
} */

/*--       HEADER       -- */

/*--              HERO              -- */

/*----------- ABOUT----------- */

/*------------------WORK------------------------ */

/* --------------TEAM----------------------- */

/*-----------------CLIENTS----------------- */

/*-----------------FOOTER----------------- */

/*-----------------PORTFOLIO--------------------- */

/*-----------------MODAL--------------------- */
