.footer {
    background-color: var(--footer-bg-color);
    padding: 60px 15px 60px 15px;
    width: 100vw;

    @media screen and(max-width:479px) {
        display: block;
        justify-content: center;
        align-items: center;
    }
}

.contacts {
    display: block;
    width: 100vw;



    @media screen and(min-width:1200px) {
        display: flex;
        width: 100vw;
        align-items: baseline;
    }

    @media screen and(max-width:1199px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media screen and(max-width:479px) {
        display: block;
    }

}

.contacts__tablet {
    display: block;

    @media screen and(min-width:1200px) {

        margin-right: 0;
        ;
    }

    @media screen and(min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 89px;
    }
}

.contact {
    width: 100wv;
    margin-right: auto;
    margin-left: auto;

    @media screen and(min-width:1200px) {
        width: 231px;
        margin-left: 70px;

    }

    @media screen and(min-width:768px) {
        margin-bottom: 60px;
        width: 231px;
        display: flex;
        flex-direction: column;
        margin-left: 76px;
        justify-content: center;
        align-items: center;
    }

    @media screen and(max-width:767px) {
        margin-bottom: 60px;
    }
}

address {
    font-style: normal;
}

.contact__link {
    color: var(--color-white);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact__address {
    @media screen and(max-width:767px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--info-font-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact__item {
    margin-bottom: 9px;

    @media screen and(max-width:1199px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.contact__address {
    margin-top: 20px;
}

.soc {
    @media screen and(min-width:1200px) {
        margin-left: 70px;
    }

    @media screen and(max-width:767px) {
        margin-bottom: 60px;
    }
}

.soc__invitation {
    @media screen and(min-width:1200px) {
        padding-top: 20px;
    }

    @media screen and(max-width:1199px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and(max-width:767px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    font-family: 'Roboto';
    font-style: normal;
    @include font(14px, 700, 1.17, null);
    text-transform: uppercase;

    color: var(--color-white);

    margin-bottom: 20px;
}

.soc__list {
    display: flex;

    @media screen and(max-width:767px) {
        align-items: center;
        justify-content: center;
    }
}

.subscribe__text {
    @media screen and(max-width:1199px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and(max-width:767px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    margin-bottom: 20px;

    font-family: 'Roboto';
    @include font(14px, 700, 1.88, 0.03em);
    text-transform: uppercase;

    color: var(--color-white);
}

.subscribe {
    @media screen and(min-width:1200px) {
        margin-right: 20px;
        justify-content: start;
    }

    @media screen and(max-width:1199px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and(max-width:479px) {
        display: block;
    }

    @media screen and(max-width:767px) {
        display: block;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    margin-left: auto;
}

.subscribe__form {
    @media screen and(max-width:1199px) {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: space-between;
        // width: 450px;
        // margin-bottom: 20px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe__input {
    @media screen and(max-width:1199px) {
        max-width: 450px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    @media screen and(min-width:1200px) {
        width: 358px;
    }

    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--color-white);
    background-color: var(--footer-bg-color);

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer__btn {
    display: flex;
    align-items: center;
}

.subscribe__btn {

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 200px;
  height: 50px; */

    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    padding-right: 29px;

    @include font(16px, 700, 1.88, 0.06em);
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.88;
    // letter-spacing: 0.06em;

    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    /* border-color: var(--accent-color); */
    /* outline: none; */
    cursor: pointer;
    color: var(--color-white);

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: var(--btn-bg-color);
    }
}

.subscribe__soc-icon {
    margin-left: 10px;
    fill: var(--color-white);
}

/* .footer-soc-icon{
  padding-right: 13px;
} */