.footer {
    background-color: var(--footer-bg-color);
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and(max-width:479px) {
        display: block;
        justify-content: center;
        align-items: center;
    }
}

.contacts {
    @extend .container;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
    }
}

.contacts__tablet {
    display: block;

    @media screen and(min-width:1200px) {
        margin-right: 0;
    }

    @media screen and(min-width:768px) {
        display: flex;
        align-items: baseline;
    }
}

.contact {
    @media screen and (min-width: 320px) and (max-width: 1199px) {
        text-align: center;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 165px;
    }
}

address {
    font-style: normal;
}

.contact__list {
    display: inline-block;
}

.contact__link {
    color: var(--color-white);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact__address {
    @media screen and(max-width:767px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and(min-width:1200px) {
        width: 231px;
    }

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--info-font-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact__item {
    @media screen and(max-width:1199px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.contact__address {
    margin-top: 8px;
}

.soc {
    @media screen and (min-width: 320px) and (max-width: 1199px) {
        text-align: center;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.soc__invitation {
    @media screen and(min-width:1200px) {
        padding-top: 20px;
    }

    @media screen and(max-width:1199px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and(max-width:767px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    font-family: 'Roboto';
    font-style: normal;
    @include font(14px, 700, 1.17, null);
    text-transform: uppercase;

    color: var(--color-white);

    margin-bottom: 20px;
}

.soc__list {
    display: flex;

    @media screen and(max-width:767px) {
        align-items: center;
        justify-content: center;
    }
}

.subscribe__text {
    @media screen and(max-width:1199px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and(max-width:767px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    margin-bottom: 20px;

    font-family: 'Roboto';
    @include font(14px, 700, 1.88, 0.03em);
    text-transform: uppercase;

    color: var(--color-white);
}

.subscribe__form {
    display: flex;

    @media screen and (max-width: 479px) {
        flex-direction: column;
    }

    @media screen and (min-width: 320px) {
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }

    @media screen and (max-width: 1199px) {
        text-align: center;
        flex-wrap: wrap;
        max-width: 480px;
    }
}

.subscribe__input {
    @media screen and(min-width:1200px) {
        width: 358px;
    }

    @media screen and(max-width: 479px) {
        width: 90vw;
        margin: 0;
    }

    @media screen and(min-width:480px) {
        width: 450px;
        display: flex;
        justify-content: center;
        // margin-bottom: 20px;
    }

    // width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--color-white);
    background-color: var(--footer-bg-color);

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscribe__mail {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 12px;
    }
}

.subscribe__lable {
    color: var(--color-white);
    margin-bottom: 20px;
    font-family: 'Roboto';
    @include font(14px, 700, 1.88, 0.03em);
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 20px;

    @media screen and (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.subscribe__input {
    width: 450px;
    height: 50px;
    padding: 15px 16px;
    background-color: transparent;
    // border: var(--border-forms);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--color-white);
    transition: border-color 250ms ubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
        width: 90vw;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

.subscribe__btn {
    @extend .button;
    display: flex;
    align-self: center;
    padding: 10px 28px;

    @media screen and (min-width: 1200px) {
        align-self: flex-end;
    }

    margin-right: 10px;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: var(--btn-bg-color);
    }

    @media screen and(min-width:1200px) {
        align-self: flex-end;
    }
}

.subscribe__soc-icon {
    margin-left: 10px;
    fill: var(--color-white);
}