body {
    font-family: 'Roboto', 'Tahoma, sans-serif';
    background-color: var(--color-white);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-font-color);
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;

    text-align: center;
    margin-bottom: 50px;
    color: var(--primary-font-color);

    @media screen and(min-width:1200px) {
        font-size: 36px;
        line-height: 1.5;
    }
}

.button {
    display: inline-block;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    background-color: var(--accent-color);
    color: var(--color-white);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}