.menu__open-btn {
    display: flex;
    margin-left: auto;
    // margin-top: 10px;
    background-color: var(--color-white);
    outline: none;
    border: none;

    @media screen and(min-width:768px) {
        display: none;
    }

    :hover,
    :focus {
        fill: var(--accent-color);
    }



}

.menu__open {
    top: 0;
    left: 0;
}

.mob-menu {
    // position: fixed;
    // top: 0;
    // left: 0;
    // z-index: 999;

    background-color: var(--color-white);
    // width: 100vw;
    // height: 100vh;
    // padding: 48px;

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

        background-color: var(--color-white);
        width: 100vw;
        height: 100vh;
        padding: 10px 10px 48px 40px;
        // padding-top: 10px;
        // padding-left: 40px;
        // padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // height: 100%;
        display: none;

        overflow-y: auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    }

    .menu-container.is-open {
        transform: translateY(0);
        display: flex;
    }

    .mob-menu__close-btn {
        display: block;
        margin-left: auto;
        // margin-top: 10px;
        background-color: var(--color-white);
        outline: none;
        border: none;

        :hover,
        :focus {
            fill: var(--accent-color);
        }

    }



    .mob-menu__close {
        top: 0;
        left: 0;
    }

    // .mob-menu__list {
    //     // margin-bottom: 40px;
    // }

    .mob-menu__item:not(:last-child) {
        margin-bottom: 32px;
    }

    .mob-menu__link {
        font-weight: 500;
        font-size: 40px;
        line-height: calc(47 / 40);
        letter-spacing: 0.02em;

        color: var(--primary-font-color);

        // :hover,
        // :focus {
        //     color: var(--accent-color);
        // }
    }

    .mob-menu__item .current {
        color: var(--accent-color);
    }

    .mob-menu__bottom {
        flex-direction: column;
        justify-content: space-between;
    }

    .mob-contacts {
        margin-bottom: 64px;
    }

    .mob-contacts__item:not(:last-child) {
        margin-bottom: 32px;
    }

    .mob-contacts__info {
        font-weight: 500;
        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.02em;

        color: var(--info-font-color);
    }

    .mob-contacts__tel {
        font-weight: 500;
        font-size: 34px;
        line-height: calc(44 / 34);
        /* identical to box height */

        letter-spacing: 0.02em;

        color: var(--accent-color);
    }

    .mob-soc__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 15px;
        // margin-right: 10px;
        // margin-left: 10px;

        :not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    }

    .mob-soc__item {
        font-weight: 500;
        font-size: 18px;
        line-height: calc(22 / 18);
        padding-left: 10px;
        padding-right: 10px;

        // margin-right: 10px;
        // margin-left: 10px;
        /* identical to box height, or 122% */

        letter-spacing: 0.02em;

        color: var(--accent-color);
    }
}